.idea/*
.DS_Store
/runtime/*.log*
!/runtime/.gitkeep
/runtime/cache/*
!/runtime/cache/.gitkeep
/runtime/debug/*
!/runtime/debug/.gitkeep
/runtime/logs/*
!/runtime/logs/.gitkeep
/runtime/Twig/*
!/runtime/Twig/.gitkeep
/web/m.html
/web/assets/*
!/web/assets/.gitkeep
*.zip
*.log
*.pdf
*.xls
*.db
/content/*
/content
/web/images
/web/images/*
/tests/
/tests/*
/web/css
/web/css/*
/web/js
/web/js/*
/views
/views/*
.ico
/common_static
/common_static/*
/common_views
/common_views/*
/nbproject/private/